<table class="table table-hover table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cel</th>
      <th scope="col">Email</th>
      <th scope="col">Ramo</th>
      <th scope="col">Cidade</th>
      <th scope="col" colspan="3">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Escalar Aluminios</td>
      <td>13 981725946</td>
      <td>binhopecora@gmail.com</td>
      <td>Aluminíos e box</td>
      <td>Praia Grande</td>
      <td><a class="text-success" data-toggle="collapse" href="#infos" role="button" aria-expanded="false" aria-controls="infos"><i class="fas fa-plus-square"></i></a></td>
      <td><a class="text-primary" href=""><i class="fas fa-user-cog"></i></a></td>
      <td><a class="text-danger" href=""><i class="fas fa-trash-alt"></i></a></td>
    </tr>
    <div class="collapse" id="infos">
    <tr>
      <th scope="row">Nome</th>
      <th scope="row">1</th>
      <th scope="row">1</th>
      <th scope="row">1</th>
      <th scope="row">1</th>
      <th scope="row">1</th>
      <th scope="row">1</th>
      <th scope="row">1</th>
    </tr>
  </div>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
