<div class="table-responsive rounded">
<table class="table table-hover table-lg table-striped mb-3 py-0 rounded">
  <thead>
    <tr class="table-warning">
      <th scope="col">#</th>
      <th scope="col"><i class="fas fa-user"></i> Nome</th>
      <th scope="col"><i class="fas fa-mobile"></i> Cel</th>
      <th scope="col"><i class="fas fa-envelope"></i> Email</th>
      <th scope="col"><i class="fas fa-project-diagram"></i> Ramo</th>
      <th scope="col"><i class="fas fa-city"></i> Cidade</th>
      <th scope="col" colspan="3"><i class="fas fa-cogs"></i> Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr class="opcoes" *ngFor="let fornecedor of fornecedores">
      <th scope="row">{{fornecedor.id}}</th>
      <td>{{fornecedor.nomeEmpresa}}</td>
      <td>{{fornecedor.cel}}</td>
      <td>{{fornecedor.email}}</td>
      <td>{{fornecedor.ramoDeAtuacao}}</td>
      <td>{{fornecedor.cidade}}</td>
      <td>
        <a class="text-success mr-2" data-toggle="collapse" href="#infos" role="button" aria-expanded="false"
          aria-controls="infos"><i class="fas fa-plus-square"></i></a>
        <a class="text-primary mx-2" (click)="edit(fornecedor.id)" ><i class="fas fa-user-cog"></i></a>
        <a class="text-danger ml-2" (click)="delete(fornecedor.id, fornecedor.nomeEmpresa)" ><i class="fas fa-trash-alt"></i></a>
      </td>
    </tr>
  </tbody>
</table>
</div>
