<form (ngSubmit)="onSubmit()" #clienteForm="ngForm">
<div class="row col-lg-10 m-auto">
    <div class="form-group col-lg-4">
      <label for="nome"><i class="fas fa-user-tie"></i> Nome<span class="text-danger">*</span></label>
      <input name="nome" type="text" [(ngModel)]="cliente.nome" class="form-control">
    </div>
    <div class="form-group col-lg-4">
      <label for="cpf"><i class="fas fa-id-card"></i> CPF</label>
      <input name="cpf" id="cpf" type="text" [(ngModel)]="cliente.cpf" class="form-control">
    </div>
    <div class="form-group col-lg-4">
        <label for="dt_nasc"><i class="fas fa-calendar-plus"></i> Data de Nascimento</label>
        <input name="dt_nasc" id="dt_nasc" type="date" [(ngModel)]="cliente.dt_nasc" class="form-control">
      </div>
    <div class="form-group col-lg-4">
        <label for="email"><i class="fas fa-envelope-open-text"></i> Email</label>
        <input name="email" id="email" type="email" [(ngModel)]="cliente.email" class="form-control">
    </div>
    <div class="form-group col-lg-4"> 
        <label for="cel"><i class="fas fa-mobile"></i> Celular</label>
        <input name="cel" id="cel" type="tel" [(ngModel)]="cliente.celular" class="form-control">
    </div>
    <div class="form-group col-lg-4">
        <label  for="tel"><i class="fas fa-phone-alt"></i> Telefone Fixo</label>
        <input name="tel" id="tel" type="tel" [(ngModel)]="cliente.telefoneFixo" class="form-control">
    </div>
    <div class="form-group col-lg-2">
        <label for="cep">Cep</label>
        <input name="cep" id="cep" type="text" (blur)="buscaEnderecoPorCep()" [(ngModel)]="cliente.cep" class="form-control">
        <span class="small text-danger" *ngIf="erroEndereco">{{erroEndereco}}</span>
    </div>
    <div class="form-group col-lg-8">
        <label for="rua">Rua</label>
        <input name="rua" id="rua" type="text" [(ngModel)]="cliente.rua" readonly class="form-control">
    </div>
    <div class="form-group col-lg-2">
        <label for="num">Número</label>
        <input name="num" id="num" type="text" [(ngModel)]="cliente.numeroCasa" class="form-control">
    </div>
    <div class="form-group col-lg-4">
        <label for="bairro">Bairro</label>
        <input name="bairro" id="bairro" type="text" [(ngModel)]="cliente.bairro" readonly class="form-control">
    </div>
    <div class="form-group col-lg-4">
        <label for="cidade">Cidade</label>
        <input name="cidade" id="cidade" type="text" [(ngModel)]="cliente.cidade" readonly class="form-control">
    </div>
    <div class="form-group col-lg-4">
        <label for="estado">Estado</label>
        <input name="estado" id="estado" type="text" [(ngModel)]="cliente.estado" readonly class="form-control">
    </div>
    <div class="form-group col-lg-6">
        <label for="compl">Complemento</label>
        <input name="compl" id="compl" type="text" [(ngModel)]="cliente.complemento" class="form-control">
    </div>
    <div *ngIf="clienteForm.invalid; else botaoLiberado" class="col-lg-12">
        <button disabeld class="btn btn-secondary btn-block">Cadastrar Fornecedor</button>
      </div>
      <ng-template #botaoLiberado>
        <div class="col-lg-12">
        <button class="btn btn-success btn-block">Cadastrar Cliente</button>
        </div>
    </ng-template>
  </div>
</form>
