<form (ngSubmit)="onSubmit()" #clienteForm="ngForm">
<div class="row col-lg-10 m-auto">
    <div class="form-group col-lg-4">

      <label for="nome">Nome<span class="text-danger">*</span></label>
      <input name="nome" type="text" [(ngModel)]="cliente.nome" #nome="ngModel" class="form-control" required>
      <span class="small text-danger" *ngIf="nome.invalid && (nome.dirty || nome.touched)">Nome é obrigatório</span>
    </div>
    <div class="form-group col-lg-4">
      <label for="cpf">CPF<span class="text-danger">*</span></label>
      <input name="cpf" id="cpf" type="text" [(ngModel)]="cliente.cpf" #cpf="ngModel" class="form-control" required>
      <span class="small text-danger" *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">CPF é obrigatório</span>
    </div>
    <div class="form-group col-lg-4">
        <label for="dt_nasc">Data de Nascimento<span class="text-danger">*</span></label>
        <input name="dt_nasc" id="dt_nasc" type="date" [(ngModel)]="cliente.dt_nasc" #dt_nasc="ngModel" class="form-control" required>
        <span class="small text-danger" *ngIf="cpf.invalid && (dt_nasc.dirty || dt_nasc.touched)">Data de nasc obrigatório</span>
      </div>
    <div class="form-group col-lg-4">
        <label for="email">Email<span class="text-danger">*</span></label>
        <input name="email" id="email" type="email" [(ngModel)]="cliente.email" #email="ngModel" class="form-control" required>
        <span class="small text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">Email obrigatório</span>
    </div>
    <div class="form-group col-lg-4">
        <label for="cel">Celular<span class="text-danger">*</span></label>
        <input name="cel" id="cel" type="tel" [(ngModel)]="cliente.celular" #cel="ngModel" class="form-control" required>
        <span class="small text-danger" *ngIf="cel.invalid && (cel.dirty || cel.touched)">Cel obrigatório</span>
    </div>
    <div class="form-group col-lg-4">
        <label  for="tel">Telefone Fixo</label>
        <input name="tel" id="tel" type="tel" [(ngModel)]="cliente.telefoneFixo" class="form-control">
    </div>
    <div class="form-group col-lg-2">
        <label for="cep">Cep</label>
        <input name="cep" id="cep" type="text" (blur)="buscaEnderecoPorCep()" [(ngModel)]="cliente.cep" class="form-control">
        <span class="small text-danger" *ngIf="erroEndereco">{{erroEndereco}}</span>
    </div>
    <div class="form-group col-lg-8">
        <label for="rua">Rua</label>
        <input name="rua" id="rua" type="text" [(ngModel)]="cliente.rua" readonly class="form-control">
    </div>
    <div class="form-group col-lg-2">
        <label for="num">Número</label>
        <input name="num" id="num" type="text" [(ngModel)]="cliente.numeroCasa" class="form-control">
    </div>
    <div class="form-group col-lg-4">
        <label for="bairro">Bairro</label>
        <input name="bairro" id="bairro" type="text" [(ngModel)]="cliente.bairro" readonly class="form-control">
    </div>

    <div class="form-group col-lg-4">
        <label for="cidade">Cidade</label>
        <input name="cidade" id="cidade" type="text" [(ngModel)]="cliente.cidade" readonly class="form-control">
    </div>
    <div class="form-group col-lg-4">
        <label for="estado">Estado</label>
        <input name="estado" id="estado" type="text" [(ngModel)]="cliente.estado" readonly class="form-control">
    </div>
    <div class="form-group col-lg-6">
        <label for="compl">Complemento</label>
        <input name="compl" id="compl" type="text" [(ngModel)]="cliente.complemento" class="form-control">
    </div>

    <div class="col-lg-12" *ngIf="!cliente.id;else alterar">
    <div *ngIf="clienteForm.invalid; else botaoLiberado" class="col-lg-12">
        <button disabled class="btn btn-secondary btn-block">Cadastrar Cliente</button>
      </div>
      <ng-template #botaoLiberado>
        <div class="col-lg-12">
        <button class="btn btn-success btn-block">Cadastrar Cliente</button>
        </div>
    </ng-template>
    </div>

    <ng-template #alterar>
      <div *ngIf="clienteForm.invalid; else botaoLiberado" class="col-lg-6">
        <button disabled class="btn btn-secondary btn-block">Alterar Cliente</button>
      </div>
      <div class="col-lg-6">
        <button (click)="cancelar()" class="btn btn-danger btn-block">Cancelar</button>
      </div>
      <ng-template #botaoLiberado>
        <div class="col-lg-6">
          <button class="btn btn-success btn-block">Alterar Cliente</button>
        </div>
      </ng-template>
    </ng-template>

  </div>
</form>

<div *ngIf="cadastroSucesso" class="alert alert-success mt-3" role="alert">
    Cliente cadastrado com sucesso!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="alterarSucesso" class="alert alert-success mt-3" role="alert">
    Cliente alterado com sucesso!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="loading" class="col-lg-12 mx-auto text-center mt-3">
  <app-loading></app-loading>
  </div>
  
  <div *ngIf="erroForm" class="alert alert-danger mt-3" role="alert">
    {{erroForm}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
