<table class="table table-hover table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Projeto</th>
        <th scope="col">Data Início</th>
        <th scope="col">Cliente</th>
        <th scope="col">Valor</th>
        <th scope="col" colspan="3">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tempProjeto of projeto">
        <th scope="row">{{tempProjeto.id}}</th>
        <td>{{tempProjeto.nomeProjeto}}</td>
        <td>{{tempProjeto.dt_inicio}}</td>
        <td>{{tempProjeto.cliente.nome}}</td>
        <td>{{tempProjeto.valorTotal}}</td>
        <td><a class="text-success" data-toggle="collapse" href="#infos" role="button" aria-expanded="false" aria-controls="infos"><i class="fas fa-plus-square"></i></a></td>
        <td><a class="text-primary" href=""><i class="fas fa-user-cog"></i></a></td>
        <td><a class="text-danger" href=""><i class="fas fa-trash-alt"></i></a></td>
      </tr>
    </tbody>
  </table>

