<div class="table-responsive rounded">
<table class="table table-hover table-lg table-striped mb-3 py-0 rounded">
    <thead>
      <tr class="table-warning">
        <th scope="col">#</th>
        <th>Foto</th>
        <th scope="col"><i class="fas fa-project-diagram"></i> Projeto <a class="ml-5 sort" *ngIf="!sortedByName; else reverses"
          (click)="dados()"><i class="fas fa-sort-alpha-up"></i></a>
         <ng-template #reverses><a class="ml-5 sort" (click)="reverse()"><i class="fas fa-sort-alpha-down"></i></a>
         </ng-template>
        </th>
        <th scope="col"><i class="far fa-calendar-plus"></i> Data Início</th>
        <th scope="col"><i class="fas fa-user"></i> Cliente</th>
        <th scope="col"><i class="fas fa-dollar-sign"></i> Valor</th>
        <th scope="col" colspan="3"><i class="fas fa-cogs"> </i> Opções</th>
      </tr>


    </thead>
    <tbody>
      <tr *ngFor="let tempProjeto of projetos">
        <th scope="row">{{tempProjeto.id}}</th>
        <td class="text-center mx-auto" *ngIf="tempProjeto.img.length !== 0; else imgNotFound"><img [src]="this.getFirstImg(tempProjeto)" width="40" height="40" class="rounded"/></td>
        <ng-template #imgNotFound> <td class="text-center text-danger my-0 py-0" style="font-size: 34px;"><i class="fas fa-image"></i></td></ng-template>
        <td>{{tempProjeto.nomeProjeto}}</td>
        <td>{{tempProjeto.dt_inicio}}</td>
        <td *ngIf="tempProjeto.cliente === null; else cliente">{{tempProjeto.cliente}}</td>
        <ng-template #cliente><td>{{tempProjeto.cliente.nome}}</td></ng-template>
        <td>{{tempProjeto.valorTotal}}</td>
        <td>
        <a [routerLink]="['/projeto', tempProjeto.id]" class="text-success mr-2"  data-toggle="collapse" role="button" aria-expanded="false" aria-controls="infos"><i class="fas fa-plus-square"></i></a>
        <a class="text-primary mx-2" (click)="edit(tempProjeto.id)"><i class="fas fa-user-cog"></i></a>
        <a class="text-danger ml-2" href=""><i class="fas fa-trash-alt"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

