<div class="container mt-5">
  <form class="">
    <div class="input-group col-lg-12">
      <input #myInput (keyup)="doSearch(myInput.value)" (keyup.enter)="doSearch(myInput.value)" class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
      <div class="input-group-append">
        <button (click)="doSearch(myInput.value)" class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i> Pesquisar</button>
      </div>
    </div>
    </form>

    <div class="container row m-auto">
        <div *ngFor="let tempGaleria of projeto" class="card mt-5 mx-3 col-lg-3" style="width:250px">
            <img class="card-img-top" [src]="tempGaleria.img" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">{{tempGaleria.nomeProjeto}}</h4>
              <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
      </div>

  </div>
