<form (ngSubmit)="onSubmit()" #fornecedorForm="ngForm">
  <div class="row">
    <div class="form-group col-lg-4">
      <label for="nome">Nome Empresa<span class="text-danger">*</span></label>
      <input name="nome" id="nome" type="text" [(ngModel)]="fornecedor.nomeEmpresa" #nome="ngModel" class="form-control"
        required>
      <span class="small text-danger" *ngIf="nome.invalid && (nome.dirty || nome.touched)">Nome é obrigatório</span>
    </div>
    <div class="form-group col-lg-4">
      <label for="cpf">CPF</label>
      <input name="cpf" id="cpf" type="text" [(ngModel)]="fornecedor.cpf" class="form-control">
    </div>
    <div class="form-group col-lg-4">
      <label for="atendente">Atendente</label>
      <input name="atendente" id="atendente" type="text" [(ngModel)]="fornecedor.atendente" class="form-control">
    </div>
    <div class="form-group col-lg-4">
      <label for="cel">Cel<span class="text-danger">*</span></label>
      <input name="cel" id="cel" type="tel" [(ngModel)]="fornecedor.cel" #cel="ngModel" class="form-control" required>
      <span class="small text-danger" *ngIf="cel.invalid && (cel.dirty || cel.touched)">Celular é obrigatório</span>
    </div>
    <div class="form-group col-lg-4">
      <label for="tel">Tel</label>
      <input name="tel" id="tel" type="tel" [(ngModel)]="fornecedor.tel" class="form-control">
    </div>
    <div class="form-group col-lg-4">
      <label for="email">Email</label>
      <input name="email" id="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel"
        [(ngModel)]="fornecedor.email" placeholder="" class="form-control" required>
      <div *ngIf="email.touched">
        <span class="small text-danger" *ngIf="email.errors?.required && (email.dirty || email.touched)">Email é
          obrigatório</span>
        <span class="small text-danger" *ngIf="email.errors?.pattern && (email.dirty || email.touched)">Email deve
          conter @ e .</span>
      </div>
    </div>
    <div class="form-group col-lg-6">
      <label for="site">Site</label>
      <input name="site" id="site" type="text" [(ngModel)]="fornecedor.site" class="form-control">
    </div>
    <div class="form-group col-lg-6">
      <label for="ramo">Ramo De Atuação<span class="text-danger">*</span></label>
      <input name="ramo" id="ramo" type="text" [(ngModel)]="fornecedor.ramoDeAtuacao" class="form-control" required
        #ramoDeAtuacao="ngModel">
      <span class="small text-danger"
        *ngIf="ramoDeAtuacao.invalid && (ramoDeAtuacao.dirty || ramoDeAtuacao.touched)">Ramo De Atuação é
        obrigatório</span>
    </div>
    <div class="form-group col-lg-2">
      <label for="cep">CEP<span class="text-danger">*</span></label>
      <input name="cep" id="cep" type="text" (blur)="buscaEnderecoPorCep()" [(ngModel)]="fornecedor.cep"
        class="form-control" #cep="ngModel" required>
      <span class="small text-danger" *ngIf="erroEndereco">{{erroEndereco}}</span>
      <span class="small text-danger" *ngIf="cep.invalid && (cep.dirty || cep.touched)">Cep é obrigatório</span>
    </div>
    <div class="form-group col-lg-2">
      <label for="numero">Numero<span class="text-danger">*</span></label>
      <input name="numero" id="numero" type="text" #numero="ngModel" [(ngModel)]="fornecedor.numeroCasa"
        class="form-control" required>
      <span class="small text-danger" *ngIf="numero.invalid && (numero.dirty || numero.touched)">Numero é
        obrigatório</span>
    </div>
    <div class="form-group col-lg-4">
      <label for="complemento">Complemento</label>
      <input name="complemento" id="complemento" type="text" [(ngModel)]="fornecedor.complemento" class="form-control">
    </div>
    <div class="form-group col-lg-4">
      <label for="bairro">Bairro<span class="text-danger">*</span></label>
      <input name="bairro" id="bairro" type="text" [(ngModel)]="fornecedor.bairro" readonly class="form-control"
        required #bairro="ngModel">
    </div>
    <div class="form-group col-lg-6">
      <label for="rua">Rua<span class="text-danger">*</span></label>
      <input name="rua" id="rua" type="text" [(ngModel)]="fornecedor.rua" readonly class="form-control" required
        #rua="ngModel">
    </div>
    <div class="form-group col-lg-3">
      <label for="cidade">Cidade<span class="text-danger">*</span></label>
      <input name="cidade" id="cidade" type="text" [(ngModel)]="fornecedor.cidade" readonly class="form-control"
        required #cidade="ngModel">
    </div>
    <div class="form-group col-lg-3">
      <label for="estado">Estado<span class="text-danger">*</span></label>
      <input name="estado" id="estado" type="text" [(ngModel)]="fornecedor.estado" readonly class="form-control"
        required #estado="ngModel">
    </div>
    <div class="form-group col-lg-12">
      <label for="obs">Obs</label>
      <textarea name="obs" id="obs" [(ngModel)]="fornecedor.obs" class="form-control"></textarea>
    </div>
    <div *ngIf="fornecedorForm.invalid; else botaoLiberado" class="col-lg-12">
      <button disabled class="btn btn-secondary btn-block">Cadastrar Fornecedor</button>
    </div>
    <ng-template #botaoLiberado>
      <div class="col-lg-12">
        <button class="btn btn-success btn-block">Cadastrar Fornecedor</button>
      </div>
    </ng-template>
  </div>
</form>

<div *ngIf="cadastroSucesso" class="alert alert-success mt-3" role="alert">
  Fornecedor cadastrado com sucesso!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
