<div class="row">
  <div class="form-group col-lg-4">
    <label for="nome">Nome Empresa<span class="text-danger">*</span></label>
    <input type="text" [(ngModel)]="fornecedor.nomeEmpresa" class="form-control">
  </div>
  <div class="form-group col-lg-4">
    <label for="nome">CPF</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-4">
    <label for="nome">Atendente</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-4">
    <label for="nome">Cel<span class="text-danger">*</span></label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-4">
    <label for="nome">Tel</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-4">
    <label for="nome">Email</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-6">
    <label for="nome">Site</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-6">
    <label for="nome">Ramo De Atuação<span class="text-danger">*</span></label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-2">
    <label for="nome">CEP<span class="text-danger">*</span></label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group col-lg-2">
    <label for="nome">Numero<span class="text-danger">*</span></label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-4">
    <label for="nome">Complemento<span class="text-danger">*</span></label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group col-lg-4">
    <label for="nome">Bairro<span class="text-danger">*</span></label>
    <input type="text" readonly class="form-control">
  </div>
  <div class="form-group col-lg-6">
    <label for="nome">Rua<span class="text-danger">*</span></label>
    <input type="text" readonly class="form-control">
  </div>
  <div class="form-group col-lg-3">
    <label for="nome">Cidade<span class="text-danger">*</span></label>
    <input type="text" readonly class="form-control">
  </div>
  <div class="form-group col-lg-3">
    <label for="nome">Estado<span class="text-danger">*</span></label>
    <input type="text" readonly class="form-control">
  </div>
  <div class="form-group col-lg-12">
    <label for="nome">Obs</label>
    <textarea class="form-control"></textarea>
  </div>
</div>
