<div class="row bg-ligh">
    <div class="container mt-2">
      <div class="mx-auto text-center">
        <a class="text-center mx-auto py-1" id="formButton  " data-toggle="collapse" href="#formCliente" role="button" aria-expanded="false" aria-controls="formCliente"><i class="fas fa-plus"></i> Adicionar Cliente </a>
      </div>
      <div class="collapse" id="formCliente">
        <app-cadastrar-cliente></app-cadastrar-cliente>
      </div>
      <hr/>
      <app-listar-cliente></app-listar-cliente>
    </div>
  </div>
